/* PC */
@media (min-width: 64em){

}

/* Tablet & Mobile */
@media (max-width: 63.9375em){
    .contact-form .form-control{
        font-size: 18px;
    }

    #footer .social a{
        padding: 0 8px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em){


}

/* Mobile */
@media (max-width: 46.1875em){
    .s-mt-8{
        margin-top: 8px;
    }

    .s-full-width,
    .s-col-ful{
        width: 100%;
    }

    .display-none{
        display: none;
    }
    
    .nav{
        display: block;
    }
    .nav li{
        float: none;
    }

    .nav li:last-child {
        display: block;
    }

    .nav li:first-child{
        box-shadow: 0px 2px 5px;
    }

    .nav li:not(:first-child){
        background: #fff;
    }

    .nav li:not(:first-child) a{
        opacity: 1;
        width: 100%;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
        top: 0;
        right: 0;
    }

    #header .search-btn{
        display: none;
    }

    #text-header{
        display: none;
    }

    #text-header-mobile{
        display: block;
    }

    #content .quarter{
       text-align: center;
       padding: 16px !important;
    }

    #content .quarter .row div{
        margin: 16px 0 ;
    }

    #content #portfolio .row{
        padding: 0 16px;
    }




}